<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>客户列表</title>
</head>
<style>
    .div_bar{
        border-radius:10px;
        text-align:center;
        height:130px;
        background-color: #6f9693;
        display:flex;
        display: -webkit-flex;
        align-items:center;
        margin-bottom: 10px;
    }
</style>
<body>
    {% for item in customers %}
        <div onclick="about_customer(this)" id="{{ item.openid }}" class="div_bar">
            <div class="col-xs-4" style="height:130px;line-height:130px;">
            {% if item.sex == 'woman' %}
                    <img src="/static/images/u1208.png" style="height:90%;"/>
            {% else %}
                    <img src="/static/images/u1208_man.png" style="height:90%;"/>
            {% endif %}
            </div>
            <div class="col-xs-8" style="padding:0 0 0 0;font-size: 18px;text-align:left;">
                <div class="col-xs-12">
                    <span>{{ item.name }}&emsp;&emsp;</span>
                    <span>{{ item.birthday }}岁</span>
                </div>
                 <div class="col-xs-12">
                    <span><img src="/static/images/u1242.png" style="width:30px;"/> {{ item.phone }}</span><span>&emsp;<img src="/static/images/u1244.png" style="width:30px;"/></span>
                </div>
                 <div class="col-xs-12">
                    <span><img src="/static/images/u1246.png" style="width:30px;"/> {{ item.email }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</body>
<script src="/static/js/salesman_alert.js"></script>
</html>