<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>智能推荐-家庭保障</title>
</head>
<body>
	<div class="container">
		<div class="col-xs-12" style="margin-top:20px;background-color:#D7E4F2">
			<div class="row" style="text-align:center">
				<div id="logo" class="col-xs-3" style="padding-top:36px">
					<img src="/static/images/u634.png" height='100%' width='100%'/><br/>
					<span >安联财险</span>
				</div>
				<div id="detail" class="col-xs-6">
					<span style="color:red;font-size:20px;">XX寿险</span><br/><br/>
					<span>总保额200万 </span>
				</div>
				<div id="price" style="padding-top:36px" class="col-xs-3">
					<input type="checkbox" name=""><span style="color:red";>加入对比</span>
					<br><br>
					<span style="color:black">总价：</span>
					<span style="color:red">838元/年</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12" style="margin-top:10px;background-color:#F0F0F0">
			<div class="row" style="text-align:center">
				<div id="logo" class="col-xs-3" style="padding-top:36px">
					<img src="/static/images/u634.png" height='100%' width='100%'/><br/>
					<span >安联财险</span>
				</div>
				<div id="detail" class="col-xs-6">
					<span style="color:red;font-size:20px;">车险</span><br/><br/>
					<span>划痕险  1万元 </span><br/>
					<span>三方责任险 100万元 <br/>三天内赔付</span>
				</div>
				<div id="price" style="padding-top:36px" class="col-xs-3">
					<input type="checkbox" name=""><span style="color:red";>加入对比</span>
					<br><br>
					<span style="color:black">总价：</span>
					<span style="color:red">838元/年</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12" style="margin-top:10px;background-color:#F0F0F0">
			<div class="row" style="text-align:center">
				<div id="logo" class="col-xs-3" style="padding-top:36px">
					<img src="/static/images/u634.png" height='100%' width='100%'/><br/>
					<span >安联财险</span>
				</div>
				<div id="detail" class="col-xs-6">
					<span style="color:red;font-size:20px;">财产险</span><br/><br/>
					<span>意外伤害  20万元  </span><br/>
					<span>意外医疗  1万元<br/>疾病/意外住院医疗  1万元</span>
				</div>
				<div id="price" style="padding-top:36px" class="col-xs-3">
					<input type="checkbox" name=""><span style="color:red;";>加入对比</span>
					<br><br>
					<span style="color:black;">总价：</span>
					<span style="color:red;">838元/年</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>