<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>个人-基本</title>
</head>
<body>
    <div class="container">
        <div class="col-xs-12" style="margin-top:15px;">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;">
                    <span class="sr-only">80% 完成</span>
                </div>
            </div>
        </div>
        <div>
            <div class="col-xs-12" style="padding-top: 20px;">
                <div class="col-xs-4" style="margin-top: 8px;"><span>家庭收入：</span></div>
                <div class="col-xs-6">
                    <select id="income" class="form-control">
                      <option>1万~10万</option>
                      <option>10万~20万</option>
                      <option>20万~30万</option>
                      <option>30万~50万</option>
                      <option>50万~100万</option>
                      <option>100万~200万</option>
                      <option>200万~500万</option>
                      <option>500万以上</option>
                    </select>
                </div>/年
            </div>

            <div class="col-xs-12" style="padding-top: 20px;">
                <div class="row">
                    <div class="col-xs-8" style="margin: 8px 0 20px 0;"><span>家庭资产（可多选）：</span></div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-xs-6">
                        <img src="/static/images/u370.png" class="img-rounded"/>
                        <div class="checkbox">
                            <label><input type="checkbox" value="有房">有房</label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <img src="/static/images/u374.png" class="img-rounded"/>
                        <div class="checkbox">
                            <label><input type="checkbox" value="有车">有车</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center;">
                    <div class="col-xs-6">
                        <img src="/static/images/u378.png" class="img-rounded"/>
                        <div class="checkbox">
                            <label><input type="checkbox" value="有贷">有贷</label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <img src="/static/images/u382.png" class="img-rounded"/>
                        <div class="checkbox">
                            <label><input type="checkbox" value="有证券投资">有证券投资</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="padding-top: 20px;">
                <ul class="pager">
                    <li class="previous"><a href="javascript:history.go(-1)"> 上一步</a></li>
                    <li class="next"><a onclick="family_finance_next()">下一步 </a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script src="/static/js/family_finance.js"></script>
</html>