<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>智能推荐-出行</title>
</head>
<body>
	<div class="container">
		<div class="col-xs-12" style="margin-top:20px;background-color:#D7E4F2">
			<div class="row" style="text-align:center">
				<div id="logo" class="col-xs-3" style="padding-top:36px">
					<img src="/static/images/u634.png" height='100%' width='100%'/><br/>
					<span >安联财险</span>
				</div>
				<div id="detail" class="col-xs-6">
					<span style="color:red;font-size:20px;">航空交通意外险</span><br/><br/>
					<span>意外伤害  30万元 </span><br/>
					<span>驾乘意外伤害  5万元 <br/>疾病/意外医疗  30万元 <br/>
						拒签补贴  500元<br/>医疗运送及送返  40万元</span>
				</div>
				<div id="price" style="padding-top:36px" class="col-xs-3">
					<input type="checkbox" name="">加入对比
				</div>
			</div>
		</div>
		<div class="col-xs-12" style="margin-top:10px;background-color:#F0F0F0">
			<div class="row" style="text-align:center">
				<div id="logo" class="col-xs-3" style="padding-top:36px">
					<img src="/static/images/u634.png" height='100%' width='100%'/><br/>
					<span >安联财险</span>
				</div>
				<div id="detail" class="col-xs-6">
					<span style="color:red;font-size:20px;">申根之王玛瑙计划</span><br/><br/>
					<span>意外伤害  30万元 </span><br/>
					<span>驾乘意外伤害  5万元 <br/>疾病/意外医疗  30万元 <br/>
						拒签补贴  500元<br/>医疗运送及送返  40万元</span>
				</div>
				<div id="price" style="padding-top:36px" class="col-xs-3">
					<input type="checkbox" name="">加入对比
				</div>
			</div>
		</div>
	</div>
</body>
</html>