<!DOCTYPE html>
<html lang="en">
<head>

<!--添加相关样式引用-->
<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">

<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<title>用户列表</title>
</head>
<body>
<div class="container body-content" style="padding-top:20px;">
    <div class="panel panel-default">
        <div class="panel-heading">查询条件</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label">用户昵称：</label>
                        <input id="txtTitle" type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">OPENID：</label>
                        <input id="txtAuthor" type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <input class="btn btn-primary" type="button" value="查询" onclick="SearchData()">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <table id="table"></table>
</div>


<table boder="1" class="table table-striped table-hover">
	<thead>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;</th>
        	<th>用户名</th>
        	<th>性别</th>
        	<th>出生日期</th>
        	<th>所在地</th>
        	<th>职业</th>
        	<th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
        <tr>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.sex }}</td>
            <td>{{ user.birthday }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.job }}</td>
            <td><a href="/aiins/customer_service_pc/1?openid={{ user.openid }}">查看</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
</body>
<!--添加相关脚本引用-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-table.min.js"></script>
<script src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').bootstrapTable({
            url: '@Url.Action("SearchBookInfo", "Home")',
            queryParamsType: '',              //默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
            queryParams: queryParams,
            method: "post",
            pagination: true,
            pageNumber: 1,
            pageSize: 2,
            pageList: [10, 20, 50, 100],
            sidePagination: "server",         //分页方式：client客户端分页，server服务端分页（*）
            striped: true,                    //是否显示行间隔色
            cache: false,
            uniqueId: "BookId",               //每一行的唯一标识，一般为主键列
            height:300,
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            columns: [
                { checkbox: true },
                { title: '序号', width: 50, align: "center", formatter: function (value, row, index) { return index + 1; } },
                { title: '图书名称', field: 'Title' },
                { title: '图书作者', field: 'Author' },
                { title: '销售价格', field: 'Price' },
                { title: '出版社', field: 'Publish' },
                {
                    title: '出版时间', field: 'PublishDate', formatter: function (value, row, index) {
                        if (value == null)
                            return "";
                        else {
                            var pa = /.*\((.*)\)/;
                            var unixtime = value.match(pa)[1].substring(0, 10);
                            return getShortTime(unixtime);
                        }
                    }
                },
                {
                    title: '操作', field: 'BookId', formatter: function (value, row, index) {
                        var html = '<a href="javascript:EditBook('+ value + ')">编辑</a>';
                        html += '　<a href="javascript:DeleteBook(' + value + ')">删除</a>';
                        return html;
                    }
                }
            ]
        });
    });

    //查询条件
    function queryParams(params) {
        return {
            pageSize: params.pageSize,
            pageIndex: params.pageNumber,
            Title: $.trim($("#txtTitle").val()),
            Author: $.trim($("#txtAuthor").val()),
            Publish: $.trim($("#txtPublish").val()),
        };
    }

    //查询事件
    function SearchData() {
        $('#table').bootstrapTable('refresh', { pageNumber: 1 });
    }

    //编辑操作
    function EditBook(bookId){
        alert("编辑操作，图书ID：" + bookId);
    }

    //删除操作
    function DeleteBook(bookId) {
        if (confirm("确定删除图书ID：" + bookId + "吗？"))
        {
            alert("执行删除操作");
        }
    }

    //批量删除
    function BtchDeleteBook(){
        var opts = $('#table').bootstrapTable('getSelections');
        if (opts == "") {
            alert("请选择要删除的数据");
        }
        else {
            var idArray = [];
            for (var i = 0; i < opts.length; i++) {
                idArray.push(opts[i].BookId);
            }
            if (confirm("确定删除图书ID：" + idArray + "吗？")) {
                alert("执行删除操作");
            }
        }
    }

    function getTime(/** timestamp=0 **/) {
        var ts = arguments[0] || 0;
        var t, y, m, d, h, i, s;
        t = ts ? new Date(ts * 1000) : new Date();
        y = t.getFullYear();
        m = t.getMonth() + 1;
        d = t.getDate();
        h = t.getHours();
        i = t.getMinutes();
        s = t.getSeconds();
        // 可根据需要在这里定义时间格式
        return y + '-' + (m < 10 ? '0' + m : m) + '-' + (d < 10 ? '0' + d : d) + ' ' + (h < 10 ? '0' + h : h) + ':' + (i < 10 ? '0' + i : i) + ':' + (s < 10 ? '0' + s : s);
    }

    function getShortTime(/** timestamp=0 **/) {
        var ts = arguments[0] || 0;
        var t, y, m, d, h, i, s;
        t = ts ? new Date(ts * 1000) : new Date();
        y = t.getFullYear();
        m = t.getMonth() + 1;
        d = t.getDate();
        // 可根据需要在这里定义时间格式
        return y + '-' + (m < 10 ? '0' + m : m) + '-' + (d < 10 ? '0' + d : d);
    }

</script>
</html>
